.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 12px;
    width: 280px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.follow-btn {
    padding: 6px 16px;
    cursor: pointer;
}

.info {
    cursor: pointer;
    flex: 1;
}

.name {
    font-size: 1.8rem;
    font-weight: normal;
    color: #161823;
    margin-top: 0;
    cursor: pointer;
    line-height: 1;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
}

.username {
    font-size: 1.4rem;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
}

.footer {
    font-size: 1.7rem;
    margin-top: 8px;
}
